.App{
    display: flex;
    padding-top: 50px;
    align-items: center;
}

h1{
    text-align: center;
}

.login-container{
    height: 50%;
    width: 75%;
    border: 3px solid #CFC486;
    padding: 10%;
    border-radius: 5px;
}