.btn{
    border: none;
    background: transparent;
    padding: 6px 16px;
    font-size: 1.1rem;
    color: #fff;
    background: #7C4C53;
    border-radius: 5px;
    transition: 0.3s all ease-out;
    cursor: pointer;
}

.btn:hover{
    color: #7C4C53;
    background: #939597;
}