.listeCommentairesContainer{
    padding: 10% 20%;
    border: 3px solid #7C4C53;
    border-radius: 5px;
}

h2{
    margin-top: 1%;
    margin-bottom: 3%;
    font-size: 24px;
}

.commentaire_contenu{
    border: 3px solid #1F2020;
    margin: 1% 0%;
    width: 35rem;
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.contenu_commentaire{
    width: 100%;
}

.del_comm_btn{
    background: transparent;
    border: transparent;
    color: white;
}

.modif_comm_btn{
    cursor: pointer;
}

@media only screen and (max-width:840px){
    h2{
        font-size: 16px;
    }
}